gtfspy.egg-info/
MANIFEST
dist/*
src/*
.idea/*
routing/label.html
.doit.db.db
.nfs*
.DS_Store
tmp*
.~*#
*.pyc
*.so
build/
nohup.out
doc/*html
*.sqlite
gtfspy/routing/label.c
examples/test_thumbnail.jpg
